<div class="banner">
  <div class="content text-center">
    <%= image_tag('doll_banner.png')%>
    <h1>Kimie Koike</h1>
    <h2>Assistente de Produção</h2>
    <br>
    <a href="#about" class="btn btn-default">About</a>
    <a href="#portfolio" class="btn btn-default">Portifólio</a>
  </div>
</div>
