<%= render 'banner' %>
<%= render 'about' %>
<hr>
<div class="container">
  <div class="port-wrapper" id="portfolio">
    <h2 class="text-center">Portfólio</h2>
    <div class="tagsort-tags-container text-center"></div>
    <!-- <div class="port-links text-center hidden-xs">
      <ul>
        <li>#Todos</li>
        <li>#Longa-Metragem</li>
        <li>#Curta e Média-Metragens</li>
        <li>#Séries de TV</li>
        <li>#Programas de TV</li>
        <li>#Publicidades e Clipes</li>
        <li>#Institucionais</li>
        <li>#1ª AD</li>
        <li>#2ª AD</li>
      </ul>
    </div> -->
    <%= render 'card' %>
  </div>
</div>
