.footer-wrapper {
  background: #FFAFBD; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFAFBD , #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFAFBD , #ffc3a0);

  a {
    color: #333;
  }
}
