<div class="footer-wrapper margin-top-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-12 text-center padded-top-2">
          <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a> &nbsp; <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-12 text-center padded-top-1">
          <p class="">© 2017 Kimie koike. All rights reserved. Made with love by <a href="http://www.psko.com.br">PSKO+A</a> with RoR</p>
        </div>
      </div>
    </div>
  </div>
</div>
